<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<br>
<div align="center">
  <table class="rentals table table-bordered">
    <tr>
      <th class="header">ID</th>
      <th class="header">Client ID</th>
      <th class="header">Movie ID</th>
    </tr>
    <tr *ngFor="let rental of rentals">
      <td>{{rental.id}}</td>
      <td>{{rental.clientID}}</td>
      <td>{{rental.movieID}}</td>
    </tr>
  </table>
  <br>
  <button class="btn btn-outline-primary" (click)="back()">Back</button>
</div>
